<div class="screen">
    <div class="layer menu-box">
    	<div class="menu-wrap">
            <div class="menu-tabs" style="font-size: 23px; padding-top: 7px;">AFTER ACTION REVIEW</div>
            <div class="menu-content"></div>
            <div class="menu-footer"></div>
            <div class="menu-corner"></div>
        </div>
        <div class="content-box" style="overflow:auto;">
            <div id="aar"></div>
        </div>
        <div class="menu-buttons wide">
            <button class="restart"><div class="btn-content">Restart</div></button>
            <button class="menu"><div class="btn-content">Scenarios</div></button>         
        </div>
    </div>
</div>