<div class="screen">
    <img src="files/assets/images/fills/gradient.png" class="bg"/>
    <img src="files/assets/images/gui/title.png" class="title" />
    <div class="layer menu-box">
    	<div class="menu-wrap">
            <div class="menu-tabs" style="font-size: 23px; padding-top: 7px;">FOR OFFICIAL USE ONLY</div>
            <div class="menu-content"></div>
            <div class="menu-footer"></div>
            <div class="menu-corner"></div>
        </div>
        <div class="content-box">
        	<div class="menu-textbox fit-text">
        	    {{{text}}}
        	</div>
        	<div class="square-fit-height image-right">
        		<div class="image-box">
        		    <div class="image" style="background: white;"><img src="{{img}}" alt="" /></div>
        		    <div class="corner-tr"></div>
        		    <div class="corner-br"></div>
        		    <div class="corner-bl"></div>
        		</div>
        	</div>
        </div>
        <div class="menu-buttons">
            <button class="back"><div class="btn-content">Back</div></button>     
            <button class="next"><div class="btn-content">Next</div></button>
        </div>
    </div>
	<div class="fuou fuou-top">FOR OFFICIAL USE ONLY</div>
	<div class="fuou fuou-bottom">FOR OFFICIAL USE ONLY</div>
</div>