<div class="screen">
    <div class="menu-box layer">
        <div class="menu-wrap">
            <div class="menu-tabs">
                Resources
            </div>
            <div class="menu-content"></div>
            <div class="menu-footer"></div>
            <div class="menu-corner"></div>
        </div>
        <div class="content-box">
        	<div class="menu-textbox fit-text">
        	    <div class="resources">
        	        <h1 id="">Resources</h1>
        	        <ul>
        	            <li><a href="files/assets/pdf/IED_Merged_Resources.pdf" target="_blank">All Resources</a></li>
        	        	<li><a href="files/assets/pdf/Bomb Threat Standoff Card.pdf" target="_blank">Bomb Threat Standoff Card</a></li>
        	        	<li><a href="files/assets/pdf/First Responder Safety Card v5.pdf" target="_blank">First Responder Safety Card</a></li>
        	            <li><a href="files/assets/pdf/Help.pdf" target="_blank">Help</a></li>
        	            <li><a href="files/assets/pdf/IED_Components.pdf" target="_blank">IED Components</a></li>
        	            <li><a href="files/assets/pdf/IED_Types_by_Function.pdf" target="_blank">IED Types by Function</a></li>
        	            <li><a href="files/assets/pdf/IED_Acronym_List.pdf" target="_blank">Acronym List</a></li>
        	            <li><a href="files/assets/pdf/DHS-DOJ Bomb Threat Guidance Brochure_FINAL (Jun 2013).pdf" target="_blank">DHS-DOJ Bomb Threat Guidance Brochure</a></li>
        	            <li><a href="files/assets/pdf/VBIED Identification Guide - Parked Vehicles (rev 07-2013).pdf" target="_blank">VBIED Identification Guide - Parked Vehicles</a></li>
        	        </ul>
        	    </div>
        	    <div class="scenarios"style="display:none;">
        	        <h1 id="">Scenarios</h1>
        	    </div>
        	</div>
        	<div class="square-fit-height image-right">
        		<div class="image-box">
        		    <div class="image" style="background: white;"><img src="files/assets/images/screens/scenario_01/IntroImage.png" alt="" /></div>
        		    <div class="corner-tr"></div>
        		    <div class="corner-br"></div>
        		    <div class="corner-bl"></div>
        		</div>
        	</div>
        </div>
        <div class="menu-buttons">
            <button class="resume"><div class="btn-content">Resume</div></button>
            <button class="stop"><div class="btn-content">Stop</div></button>
        </div>
        <div class="menu-side-title" style="position: absolute; width: 1em; height: 360px; overflow: visible; top: 50%; font-size: 24px; letter-spacing: 30px; margin-top: -176px; right: 9px;">R E S O U R C E S </div>
    </div>
</div>