<div class="screen">
    <div class="layer menu-box">
        <div class="menu-wrap">
            <div class="menu-content"></div>
            <div class="menu-footer"></div>
            <div class="menu-corner"></div>
        </div>
		<div class="content-box">
			<div class="menu-textbox">
				<p>{{{description}}}</p>
			</div>
		</div>
    	<div class="menu-buttons">
    		<button id="skip-intro"><div class="btn-content">Skip</div></button>   	    
    		<button id="start-game"><div class="btn-content">Start</div></button>
    	</div>
    	<!--<div class="version"><a href="release-notes.html" target="_blank">Version {{{version}}}</a></div>-->
    </div>
	<div class="fuou fuou-top">FOR OFFICIAL USE ONLY</div>
	<div class="fuou fuou-bottom">FOR OFFICIAL USE ONLY</div>
</div>