.tabs-wrapper {display: none;}

form fieldset.password-reset-question-set {
    display: none;
}

.group-accountstatus {
    display: none;
}

.block-tagclouds {
    display: none;
}

nav #main-menu { display: none; }